## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
abstract.txt
pages
park_main.pdf
park_supp_text.pdf
compare.tex
refs.bib
auto.html
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
.texdeps/
table.pdf
appwrap.pdf
interval.pdf
appendix.pdf
table.out
appwrap.out
interval.out
appendix.out
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.nav
*.snm
*.toc
*.run.xml
bibdir
auto.bib
auto.md
auto.html
*.bibmk
*.point
*.int
*.ref
*.refmk
*.mdmk
rdata_2002_2007.csv
ebola_sample.pdf
ebola_normal.pdf
ebola.pdf
ebola_gamma.pdf
rabies.pdf
rabies_sample.pdf
measles.pdf
genExp.pdf
steps.pdf
commit.time
commit.default
dotdir/
clonedir/
up.time
all.time
.clean_dir
*.oldfile
*.olddiff
*.page.pdf
*.wide.pdf
*.RData
*.Rlog
.Rhistory
*.Rout*
*.wrapR.*
*.master.mk
