## Content from .ignore
local.mk
target.mk
.*.sw*
make.log
.gitignore 

## content from makestuff
rdata_2002_2007.csv
ebola.pdf
rabies.pdf
genExp.pdf
steps.pdf
up.time
commit.time
commit.default
dotdir/
clonedir/
*.hup
*.oldfile
*.olddiff
*.RData
*.Rlog
*.r
.Rhistory
*.Rout*
*.wrapR.*
rdata_2002_2007.csv
ebola.pdf
rabies.pdf
genExp.pdf
steps.pdf
up.time
commit.time
commit.default
dotdir/
clonedir/
*.hup
*.oldfile
*.olddiff
*.RData
*.Rlog
*.r
.Rhistory
*.Rout*
*.wrapR.*
